<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]>

<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">

<![endif]-->
<!--[if IE 7]>

<html class="no-js lt-ie9 lt-ie8" lang="en">

<![endif]-->
<!--[if IE 8]>

<html class="no-js lt-ie9" lang="en">

<![endif]-->
<!--[if gt IE 8]>
<!-->

<html class="no-js" lang="en">
  
  <!--
<![endif]-->
  <head>
    <meta charset="utf-8" />
    
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
    
    <title>
      Lívia e Tiago S2 - Casamento
    </title>
    
    
    <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/app.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fancybox.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css">
    
    <script src="{{ STATIC_URL }}js/modernizr.foundation.js">
    </script>
    <link href='http://fonts.googleapis.com/css?family=Petit+Formal+Script|Sintony|Quando' rel='stylesheet' type='text/css'>
    
  </head>
  <body>
    
    <div id="main-container">
      
      
      <!-- Home Page -->
      <a id="home">
      </a>
      <section id="home-page" data-magellan-destination='home'>
        <div id="main-title-container">
          <div id="main-title-text">
            <h1>
              Lívia
            </h1>
            <h2>
              -&nbsp;&nbsp;e&nbsp;&nbsp;-
            </h2>
            <h1>
              Tiago
            </h1>
            <div class="kkcount-down" data-time="1388865600">
            </div>
            <span>
              04 de Janeiro de 2014
            </span>
            <br />
            <span>
              Igreja N.S. de Fátima
            </span>
          </div>
        </div>
        
        <div class="row navigation" data-magellan-expedition='fixed'>
        <nav class="top-bar"  id="main-menu">
			 <ul>
			<!-- Title Area -->
			<li class="name">
			  <h1>
				
			  </h1>
			</li>
			<li class="toggle-topbar"><a href="#"></a></li>
		  </ul>
		  <section class="nav-center">
          <ul class="nav-bar center">
            <li data-magellan-arrival='home' class="nav-item">
              <a href="#home" class="scroll">
                Início
              </a>
            </li>
            <li data-magellan-arrival='our-story' class="nav-item">
              <a href="#our-story" class="scroll">
                Nossa História
              </a>
            </li>
            <li data-magellan-arrival='wedding' class="nav-item">
              <a href="#wedding" class="scroll">
                A Cerimônia
              </a>
            </li>
            <li data-magellan-arrival='visitors' class="nav-item">
              <a href="#visitors" class="scroll">
                Visitantes
              </a>
            </li>
            <li data-magellan-arrival='gallery' class="nav-item">
              <a href="#gallery" class="scroll">
                Fotos
              </a>
            </li>
            <li data-magellan-arrival='presentes' class="nav-item">
              <a href="#presentes" class="scroll">
                Presentes
              </a>
            </li><!--
            <li data-magellan-arrival='rsvp' class="nav-item">
              <a href="#rsvp" class="scroll">
                RSVP
              </a>
            </li> -->
          </ul>
          </section>
        </div>
        
	  </section>
	
	
	<!-- Our Story -->
    <a id="our-story">
    </a>
    <section id="our-story-page" class="row" data-magellan-destination='our-story'>
	  <div class="fabric-rule">
        </div>
		
		<div class="twelve columns page-wrapper">
          <div class="page">
            <img alt="story" id="story-photo" src="{{ STATIC_URL }}img/aliancas.jpg" />
            <h2 class="align-center">
              Nossa História
            </h2>
            <br />
            <img alt="divider" class="page-divider" src="{{ STATIC_URL }}img/divider2.png" />
            <br />
            
            <div class="six columns">
              <p>
                Em 2008 em um retiro espiritual de despedida do Padre Sóstenes da Canção Nova, nos 

                conhecemos, ainda sem interesse algum víamos apenas um “coleguismo”, algo que não 

                chegou nem mesmo a ser uma amizade. Após esse retiro nunca mais nos encontramos, apesar 

                da cidade ser pequena e o vínculo de amizade ser o mesmo, nunca estivemos no mesmo lugar 

                e tão pouco nos falamos. Após dois anos, exatamente em Março de 2010, nos encontramos 

                novamente em um grupo de oração da Canção Nova, e a partir daí começamos a criar um 

                vínculo maior de amizade, ocasião em que, o Tiago cantava no grupo de oração e eu estava 

                ali apenas buscando a minha conversão. O nosso amor foi crescendo dia após dia, de uma 

                forma muito rápida. Na verdade Deus já havia revelado a nós que esse era o plano Dele. Então 

                iniciamos um processo que chamamos de Caminho de Namoro, que foi um tempo de oração 

                e de conhecimento do outro. 
                
                Nesse tempo, não namorávamos, nos encontrávamos para 

                rezar, para conversar e nos conhecer melhor, assim como nossas famílias também. Foi um 

                tempo muito bonito e saudável, pois fomos obedientes a tudo o que o Senhor nos mostrava, 

                inclusive saber esperar a hora certa para iniciar um namoro. 
              </p>
            </div>
            <div class="six columns">
              <p>
                Foi então que no dia 02.05.2010, 

                o Tiago primeiramente pediu para minha mãe a permissão para namorarmos. Era uma noite 

                linda, a lua estava enorme, aquela lua que quem mora em Palmas sabe, o quanto é bela. 

                Em um banquinho da praia da Graciosa, o Tiago se ajoelhou e me pediu em namoro. Ali nos 

                beijamos pela primeira vez. Vivemos um tempo de namoro que posso resumir em poucas 

                palavras, mas valiosas, que em síntese foi Companheirismo, Compaixão, Perseverança e Fé. 

                E no dia 26.01.2013, noivamos com uma bela celebração de noivado. Tudo o que vivemos 

                colocamos Jesus em primeiro lugar, Ele fez parte de todos os momentos especiais do nosso 

                relacionamento, e assim será para a toda a vida. Hoje somos um casal, amadurecidos na Fé e 

                na convicção de que ter um namoro em Deus não é preciso grandes atos, mas, apenas querer 

                levar o outro para Ele. Assim, tentamos fazer todos os dias, levar o outro para Deus. Sabemos 

                também, da nossa missão para o casamento, que é casar para fazer o OUTRO feliz e não a nós 

                mesmos.
              </p>
            </div>
          </div><!-- end page-->
		</div><!-- end page-wrapper -->
		
        
    </section>
    
    <div class="fabric-rule">
    </div>
	
    
    
    
    <!-- Wedding -->
    <a id="wedding">
    </a>
    <section id="wedding-page" class="row" data-magellan-destination='wedding'>
	  
        
        <div class="twelve columns wedding-wrapper">
          
          <div id="wedding-details">
	  		<h2>
              O casamento será realizado na igreja
          </h2>
          <h1>
            N.S. de Fátima
          </h1>
          <h1>
             308 Sul Al 07
          </h1>
          <h2>
            dia 04 de Janeiro de 2014
          </h2>
          <h3>
            20:00h
          </h3>
          <a href="#" data-reveal-id="mapModal">
            <h3>
              Acesse o mapa
            </h3>
          </a>
          
	  	</div>
        
        </div>
        
        <div id="mapModal" class="reveal-modal hidden" >

        <!--<div style="width:425px;height:350px"><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?ie=UTF-8&q=nossa+senhora+de+f%C3%A1tima+palmas&fb=1&gl=br&hq=nossa+senhora+de+f%C3%A1tima&ie=UTF8&z=21&t=m&iwloc=near&output=embed"></iframe><br><table width="425" cellpadding="0" cellspacing="0" border="0"><tr><td align="left"><small><a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=carlton%2Bgardens&ie=UTF8&z=17&t=m&iwloc=near">View Larger Map</a></small></td><td align="right"><small><a href="http://www.embedgooglemap.com">embed google map</a></small></td></tr></table>
        </div> -->

<div style="width:425px;height:350px">
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?ie=UTF8&amp;q=nossa+senhora+de+f%C3%A1tima+palmas&amp;fb=1&amp;gl=br&amp;hq=nossa+senhora+de+f%C3%A1tima&amp;hnear=Palmas+-+Tocantins&amp;ll=-10.200921,-48.319298&amp;spn=0.004044,0.006539&amp;t=h&amp;z=14&amp;iwloc=A&amp;cid=3915865344318431993&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.br/maps?ie=UTF8&amp;q=nossa+senhora+de+f%C3%A1tima+palmas&amp;fb=1&amp;gl=br&amp;hq=nossa+senhora+de+f%C3%A1tima&amp;hnear=Palmas+-+Tocantins&amp;ll=-10.200921,-48.319298&amp;spn=0.004044,0.006539&amp;t=h&amp;z=14&amp;iwloc=A&amp;cid=3915865344318431993&amp;source=embed" style="color:#0000FF;text-align:left" target="_blank"  >Ver mapa maior</a></small>

</div>


</div>
		
    </section>
    
    <a id="visitors">
    </a>
    <div class="fabric-rule">
    </div>
    
    <!-- Visitors -->
    
    <section id="visitors-page" class="row" data-magellan-destination='visitors'>
	  
	  	<div class="page-wrapper">
          
	  	<div class="page-wrapper">
          
          <div class="page">
            
            <h2 class="align-center">
              Para Visitantes
            </h2>
            <br />
            <img alt="divider" class="page-divider" src="{{ STATIC_URL }}img/divider2.png" />
            <br />
            
            <ul id="visitors-list" class="row">
              
              {% for convidado in lista_para_convidados %}
                <li>
                  <a href="{{ convidado.imagem.url  }}" class="fancybox">
                    <img class="visitors-photo" alt="{{ convidado.nome }}" src="{{ convidado.imagem.url  }}" style="margin-bottom: 10px;"/> 
                  </a>
                  <div>
                    <h5>
                      {{ convidado.tipo }}
                    </h5>
                    <h6>
                      {{ convidado.nome }}
                    </h6>
                    <p>
                      {{ convidado.descricao }}
                    </p>
                  </div>
                </li>
              {% empty %}
                    <h5>
                      Não existem itens na lista de hospedagem e carros cadastrados  :(
                    </h5>
              {% endfor %}
              
            </ul>
            
          </div>
          
	  	</div>
		
    </section>
    
    <a id="gallery">
    </a>
    <div class="fabric-rule">
    </div>
    
    <section id="gallery-page" class="row" data-magellan-destination='gallery'>
	  
        <div class="page-wrapper">
          
          <ul class="block-grid four-up mobile-two-up">
          {% for foto in lista_galeria_fotos %}
            <li>
              <a class="fancybox" href="{{ foto.imagem.url }}">
                <img alt="gallery-image" src="{{ foto.imagem.url }}" />
              </a>
            </li>

          {% empty%}
              <h5>
                Não existem itens na lista de Fotos Cadastradas  :(
              </h5> 
          {% endfor %}
            
          </ul>
          
		</div>
        
        
    </section>


    <!-- presentes -->  
    <a id="presentes">
    </a>
    <div class="fabric-rule">
    </div>

    <section id="presentes-page" class="row" data-magellan-destination='presentes'>
    
      <div class="page-wrapper">
          
      <div class="page-wrapper">
          
          <div class="page">
            
            <h2 class="align-center">
              Presentes 
            </h2>
            <br />
            <img alt="divider" class="page-divider" src="{{ STATIC_URL }}img/divider2.png" />
            <br />
            
            <ul id="visitors-list" class="row">
            <!-- Django aki-->

            {% for presente in lista_presentes %}
              
              <li>
                <a href="{{ presente.imagem.url  }}" class="fancybox" style="position: relative;">
                    {% if presente.ja_ganhamos %}
                      <span></span>
                    {% endif %}
                  <img class="visitors-photo" alt="{{ presente.nome }}" src="{{ presente.imagem.url  }}" style="margin-bottom: 10px;"/> 
                </a>
                <div>
                  <h5>
                    {{ presente.tipo }}
                  </h5>
                  <h6>
                    {{ presente.nome }}
                  </h6>
                  <p>
                    {{ presente.descricao }}
                  </p>
                  <p>
                    {% if presente.ja_ganhamos%}
                      já ganhamos, graças a Deus \o/
                    {%else %}
                      Ainda não ganhamos, quer nos ajudar ?
                    {% endif %}
                  </p>
                </div>
              </li>
            {% empty %}
                  <h5>
                    Não existem itens na lista de presentes cadastrados  :(
                  </h5>
            {% endfor %}
            </ul>
          </div>
          
      </div>
    </section>
    <!-- presentes -->


    <!--

    <a id="rsvp">
    </a>
    <div class="fabric-rule">
    </div>
        <section class="row" id="rsvp-page" data-magellan-destination='rsvp'>
	  
	  	<div class="page-wrapper">
          
          <div class="page">
            <h2 class="align-center">
              RSVP
            </h2>
            <img alt="divider" class="page-divider" src="{{ STATIC_URL }}img/divider2.png" />
            <br />
            <p>
            	<em>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</em>
            </p>
            
            <form id="contact-form">
              <label>
                Name:
              </label>
              <input type="text" id="form-name" placeholder="Name" />
              <label>
                Phone:
              </label>
              <input type="text" class="twelve" id="form-number" placeholder="Contact Number" />
              <div id="error-notify"><div class="alert-box alert">Name and number are both required</div></div>
              <textarea id="form-msg" placeholder="Message">
              </textarea>
              
              <div class="row">
                
                <div class="seven columns">
                  <label for="radio1">
                    <input name="radios" type="radio" id="radio1" checked >
                    <span class="custom radio">
                    </span>
                    I / We will be attending
                  </label>
                  <label for="radio2">
                    <input name="radios" type="radio" id="radio2" >
                    <span class="custom radio checked">
                    </span>
                    Unfortunately I / We are unable to attend
                  </label>
                  
                </div>
				
					<div class="five columns">
					  <label for="checkbox1">
                        <input type="checkbox" id="checkbox1" checked>
                        <span class="custom checkbox">
                        </span>
                        No dietary requirements
                      </label>
					  <label for="checkbox2">
                        <input type="checkbox" id="checkbox2" >
                        <span class="custom checkbox">
                        </span>
                        Vegetarian
                      </label>
					  <label for="checkbox3">
                        <input type="checkbox" id="checkbox3">
                        Gluten Free
                      </label>
					</div>
				  </div>
				  
				  <input class="form-button" id="submit-form" type="submit" value="Send">
				  
              </form>
              	  <div id="notify"><div class="alert-box success">Thankyou, your RSVP has been sent!</div></div>
              
              
              
          </div>
          
	  	</div>
        
    </section> -->
    
    <!-- Footer -->
    
    <footer class="row">
      <div class="twelve columns">
        <hr />
        <div class="row">
          <div class="six columns">
            <p>
              <!--&copy; Copyright -->
              Desenvolvido por: 
                  <a target="_blank" href="https://www.facebook.com/livia.vilardiparente">
                    Lívia Vilardi
                  </a> & 
                  <a target="_blank" href="https://www.facebook.com/TiagoAlmeidaMachado">
                    Tiago de Almeida 
                  </a>
            </p>
          </div>
          <div class="six columns">
            <ul class="link-list right">
              <li>
                <a href="#home" class="scroll">
                  TOPO
                </a>

              </li>
            </ul>
          </div>
        </div>
      </div>
      
    </footer>
    
  </div><!-- end main container div -->
  
  <!-- Included JS Files (Compressed) -->
  <script src="{{ STATIC_URL }}js/jquery.js">
  </script>
  <script src="{{ STATIC_URL }}js/foundation.min.js">
  </script>
  <script src="{{ STATIC_URL }}js/kkcountdown.min.js">
  </script>
  <script src="{{ STATIC_URL }}js/jquery.fancybox.min.js">
  </script>
  <script src="{{ STATIC_URL }}js/scripts.js">
  </script>
  
  <!-- Initialize JS Plugins -->
  <script src="{{ STATIC_URL }}js/app.js">
  </script>
  
  </body>
</html>